<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/css/styles.css}" href="../static/css/styles.css">
    <title>Home Panel</title>
    <style>

    </style>
</head>
<body>
<header>
    <nav class="navbar bg-dark">
        <span class="text-light" id="header-text-info-user">
        </span>
        <form th:method="POST" th:action="@{/logout}">
            <button id="button-logout" type="submit" class="btn btn-dark">Logout</button>
        </form>
    </nav>
</header>
<div class="">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills bg-white toolBar" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content " id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1> Admin panel</h1>
                    <br>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">User table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                               role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content bg-white" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h2>All user</h2>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="table-body-all-user">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Add new user</h2>
                                </div>
                                <div class="card-body">
                                    <form class="text-center" id="form-add-new-user">
                                        <div class="form-group">
                                            <label for="name-new-user" class="text-center">First Name</label>
                                            <input type="text" id="name-new-user" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="surname-new-user">Last Name</label>
                                            <input type="text" id="surname-new-user" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="age-new-user">Age</label>
                                            <input type="number" id="age-new-user" class="form-control" min="1"
                                                   max="120">
                                        </div>
                                        <div class="form-group">
                                            <label for="email-new-user">Email</label>
                                            <input type="email" id="email-new-user" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="password-new-user">Password</label>
                                            <input type="password" id="password-new-user"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="role-new-user">Role</label>
                                            <select id="role-new-user" name="selectedRoles" multiple="multiple"
                                                    class="form-control">
                                            </select>
                                        </div>
                                        <input id="add-user-btn" type="submit" class="btn btn-success"
                                               value="Add new user">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit</h5>
                                    <button id="edit-close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="text-center">
                                    <input type="hidden" id="id-edit-user">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name-edit-user" class="text-center">First Name</label>
                                            <input type="text" id="name-edit-user" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="surname-edit-user">Last Name</label>
                                            <input type="text" id="surname-edit-user" class="form-control" name="surname">
                                        </div>
                                        <div class="form-group">
                                            <label for="age-edit-user">Age</label>
                                            <input type="number" id="age-edit-user" class="form-control" min="1" max="120" name="age">
                                        </div>
                                        <div class="form-group">
                                            <label for="email-edit-user">Email</label>
                                            <input type="email" id="email-edit-user" class="form-control" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password-edit-user">Password</label>
                                            <input type="password" id="password-edit-user" name="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="selected-roles-user">Role</label>
                                            <select id="selected-roles-user" name="selected-roles-user" multiple="multiple" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <input id="edit-button-form" type="submit" class="btn btn-primary"
                                               value="Edit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close" id="delete-close-button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="text-center">
                                    <input type="hidden" id="id-delete-user">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name-delete-user" class="text-center">First Name</label>
                                            <input type="text" id="name-delete-user" class="form-control" name="name" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="surname-delete-user">Last Name</label>
                                            <input type="text" id="surname-delete-user" class="form-control" name="surname" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="age-delete-user">Age</label>
                                            <input type="number" id="age-delete-user" class="form-control" min="1" max="120" name="age" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="email-delete-user">Email</label>
                                            <input type="email" id="email-delete-user" class="form-control" name="email" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="password-delete-user">Password</label>
                                            <input type="password" id="password-delete-user" name="password" class="form-control" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="roles-delete-user">Role</label>
                                            <select id="roles-delete-user" name="roles"
                                                    multiple="multiple"
                                                    class="form-control" readonly>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <input id="delete-button-form" type="submit" class="btn btn-primary"
                                               value="Delete"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade "
                     id="v-pills-profile"
                     role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <h2>User information-page</h2>
                    <div class="card">
                        <div class="card-header">
                            <h3>About user</h3>
                        </div>
                        <div class="card-body">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="user-info-profile">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/static/js/index.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>