<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="email">Введите email адрес: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label for="role">Выберите роль </label>
    <select id="role" name="selectedRoles" multiple="multiple">
        <option th:each="role : ${listRoles}" th:id="${role.id}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <input type="submit" value="Создать!">
</form>
<br/>
<input align="right" type="button" value="logout"
       onclick="window.location.href = '/logout'"/>
</body>
</html>