<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User Details</h1>
<p><strong>Username:</strong> <span th:text="${user.name}">Username</span></p>
<p><strong>Full Name:</strong> <span th:text="${user.name} + ' ' + ${user.surname}">Full Name</span></p>
<p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>
<p><strong>Roles:</strong></p>
<th:block th:each="role:${user.roles}">
    <span th:text="${role.getRole()}">ROLE_NAME</span>
</th:block>
<p><strong>Password:</strong> <span th:text="${user.password}">Password</span></p>
</body>
</html>